@page "/login"

@using RCL.Data.DTO
@using RCL.Data.DTO.Auth
@using RCL.Data.Interfaces
@using RCL.Data.Services
@using RCL.Shared.Layout
@layout EmptyLayout

@inject IAuthService Auth
@inject NavigationManager Nav
@inject IClienteService ClienteService
@inject IFornecedorService FornecedorService

<h3>Login</h3>

@if (error != null)
{
    <p style="color:red">@error</p>
}

<EditForm Model="@model" OnValidSubmit="HandleLogin">
    <InputText @bind-Value="model.Email" placeholder="Email" class="form-control" />
    <InputText @bind-Value="model.Password" placeholder="Password" type="password" class="form-control" />

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private LoginDTO model = new();   // dados do formulário
    private string? error;

    private async Task HandleLogin()
    {
        error = null;

        var user = await Auth.LoginAsync(model);

        if (user == null)
        {
            error = "Email ou password inválidos.";
            return;
        }

        if (user.Tipo == "Cliente")
        {
            ClienteService.SetCliente(user);
            Nav.NavigateTo("/Home");
        }
        else if (user.Tipo == "Fornecedor")
        {
            FornecedorService.SetFornecedor(user);
            Nav.NavigateTo("/fornecedor/home");
        }
    }
}
