@inherits LayoutComponentBase

<div class="d-flex align-items-center justify-content-center vh-100 bg-light">

    <div class="col-12 col-md-6 col-lg-4 p-4">
        <a href="/" class="btn btn-sm btn-link mb-2 text-decoration-none">
            <i class="bi bi-arrow-left me-1"></i> Voltar ao Início
        </a>

        <div class="shadow bg-white rounded p-4">
            @Body
        </div>
    </div>
</div>