@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthProvider

@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<div class="main-container">
    <header class="top-bar">
        <div class="brand">
            <h1 @onclick="NavegarParaHome" style="cursor: pointer">MyColl</h1>
        </div>

        <nav class="top-nav-links">
            <NavMenu />
        </nav>

        <div class="user-actions">
            <AuthorizeView>
                <Authorized>
                    <span class="user-greeting">Olá, <b>@context.User.Identity?.Name</b></span>
                    <button class="logout-button" @onclick="LogoutUser">Sair</button>
                </Authorized>
            </AuthorizeView>
        </div>
    </header>

    <main class="main-content">
        <article class="content-wrapper">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    private string displayName;

    protected override async Task OnParametersSetAsync()
    {
        if (authenticationStateTask != null)
        {
            var authState = await authenticationStateTask;
            var user = authState.User;

            if (user.Identity != null && user.Identity.IsAuthenticated)
            {
                displayName = user.FindFirst("username")?.Value;
            }
            else
            {
                displayName = "Amigo";
            }
        }
    }

    private async Task NavegarParaHome()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            if (user.IsInRole("Fornecedor"))
            {
                Nav.NavigateTo("/fornecedor/home");
            }
            else if (user.IsInRole("Cliente"))
            {
                Nav.NavigateTo("/hcliente");
            }
            else
            {
                Nav.NavigateTo("/");
            }
        }
        else
        {
            Nav.NavigateTo("/");
        }
    }

    private async Task LogoutUser()
    {
        await AuthService.LogoutAsync();
        Nav.NavigateTo("/", forceLoad: true);
    }
}