@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject NavigationManager Nav

@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<div class="main-container">
    <header class="top-bar">
        <div class="brand">
            <h1 @onclick='() => Nav.NavigateTo("/")'>MyColl</h1>
        </div>

        <nav class="top-nav-links">
            <NavMenu />
        </nav>

        <div class="user-actions">
            <AuthorizeView>
                <Authorized>
                    <span class="user-greeting">Olá, <b>@context.User.Identity?.Name</b></span>
                    <button class="logout-button" @onclick="LogoutUser">Sair</button>
                </Authorized>
            </AuthorizeView>
        </div>
    </header>

    <main class="main-content">
        <article class="content-wrapper">
            @Body
        </article>
    </main>
</div>


@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 bg-white border-bottom shadow-sm">
            <AuthorizeView>
                <Authorized>
                    <span class="me-3 text-dark"> <b>Olá!</b> </span>
                    <a href="logout" class="btn btn-sm btn-outline-danger" @onclick=LogoutUser>Sair</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4 py-4">
            @Body
        </article>
    </main>
</div>*@

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    private string displayName;

    protected override async Task OnParametersSetAsync()
    {
        if (authenticationStateTask != null)
        {
            var authState = await authenticationStateTask;
            var user = authState.User;

            if (user.Identity != null && user.Identity.IsAuthenticated)
            {
                displayName = user.FindFirst("username")?.Value;
            }
            else
            {
                displayName = "Amigo";
            }
        }
    }

    private async Task LogoutUser()
    {
        await AuthService.LogoutAsync();
        Nav.NavigateTo("/", forceLoad: true);
    }
}