@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization

<div class="navbar-expand-lg">
    <div class="collapse navbar-collapse show">
        <nav class="nav">
            <AuthorizeView Roles="Cliente">
                <Authorized>
                    <NavLink class="nav-link custom-nav-link" href="carrinho">
                        Carrinho
                    </NavLink>
                    <NavLink class="nav-link custom-nav-link" href="historico">
                        Minhas Compras
                    </NavLink>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Fornecedor">
                <Authorized>
                    <NavLink class="nav-link custom-nav-link" href="fornecedor/home">
                        Meus Produtos
                    </NavLink>
                    <NavLink class="nav-link custom-nav-link" href="fornecedor/produtos/novo">
                        Novo Produto
                    </NavLink>
                    <NavLink class="nav-link custom-nav-link" href="fornecedor/historico">
                        Vendas
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </nav>
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnParametersSetAsync()
    {
        if (AuthStateTask != null)
        {
            await AuthStateTask;
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

