<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="_content/RCL/app.css" />
    <link rel="stylesheet" href="_content/RCL/bootstrap/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="_content/RCL/favicon.png" />

    <HeadOutlet />
</head>

<body>
    <RCL.Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>

    <script>
        window.scrollElemento = (elementId, direction) => {
            const element = document.getElementById(elementId);
            if (element) {
                const scrollAmount = 200;
                if (direction === 'left') {
                    element.scrollLeft -= scrollAmount;
                } else {
                    element.scrollLeft += scrollAmount;
                }
            }
        }
    </script>

</body>

</html>